#title {
    background-color: #cc000c;
    height:100%;
    padding-bottom:5%;
}
body {
    background-color: white;
    font-family :"Montserrat", sans-serif;
}
h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bold;
}
#IntroText{
    padding-top:40%;
}
#IntroPhoto{
    padding-top:15%;

}
#titletxt{
    padding-bottom:15%;
}
.TopBoy {
    z-index: 2;
}
.PhonePhoto {
    width: 50%;
    transform: rotate(20deg);
    z-index=1;
}
.navbar-brand {
    font-size: 2rem;
    line-height: 1.5;
    font-weight: bold;
}
.nav-option {
    padding-right: 2.5%;
    padding-left: 2.5%;
}
.nav-link{
    font-size:1.25rem;

}
.downloadbtn{
    margin-right:2.5%;
    margin-left:2.5%;
}

#features{
    padding-top:15%;
    padding-bottom:15%;
}
.FeaturedSec {
    font-size: 2rem;
    line-height: 1.5;
}
.PriceDiv{
    
    padding-right:5%;
    padding-left:5%;
}
.boldtext {
    font-weight: bold;
    font-size: 2.5rem;
}
p {
    color: gray;
    font-size: 1.5rem;
}

.iconFeature {
    color: #cc000c;
    padding-bottom:15%;
}
.iconFeature:hover{
    color: lightcoral;
}

#testimonials {
    
    background-color: #cc000c;
    text-align:center;
    color:black;
}
h2 {
    font-family: "Montserrat", sans-serif;
    font-weight:bold;
    font-size:3rem;
    line-height:1.5;

}
.TestiImage{
    width:15%;
    border-radius:100%;
    margin:3%;
    text-align:left;
}
#press {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
    padding-bottom: 3%;
    background-color: white;
    text-align: center;
    color: black;
}
#pricing {
    background-color: white;
    color: black;
    padding-top: 5%;
    padding-bottom:5%;
    text-align:center;
}

.PressImg{
    padding:5%;
}
.carousel-item {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 10%;
    padding-bottom: 10%;
}
#cta {
    padding-top:10%;
    padding-bottom:10%;
    background-color: #cc000c;
    text-align:center;
}
#footer {
    text-align: center;
    background-color: #cc000c;
}